/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: .2rem;
  background-color:#F8F9FA;
}

.gradient-background {
  background: linear-gradient(135deg, #f01569, #9c65fa);
}

.glass-effect {
  background: rgba(2, 24, 65, 0.493); 
  backdrop-filter: blur(1px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 10px;
  color: #fff;
  border: none; 
  box-shadow: none; 
  outline: none; 
}

.line::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 2px;
  height: 90%;
  z-index: -1;
  background-color: rgb(206, 204, 204)
}

ul.relative.z-9 {
  position: relative;
  z-index: 1; 
}

body {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.transition-all {
  transition: all 0.3s;
}

.duration-300 {
  transition-duration: 300ms;
}

.ml-64 {
  margin-left: 16rem; 
}

.ml-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .md\:ml-64 {
    margin-left: 16rem;
  }
}
